body{  
    margin: 0px;  
    padding: 0px;    
}  


#page1{
    position: relative; 
    width: 100%;
    height:100%;
    overflow: hidden;
}

.top_weather{
    position: fixed;
    right:300px;
    top: 20px;
    height:38px;
    width:250px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    color:white;
    line-height: 38px;
    z-index: 2;
    font-size: 14px;
}
.top_weather span{
    margin-left:35px;
    margin-right:10px;
}

.top_weather a{
    margin-left:10px;
    color:white;
    text-decoration: none;
}

.expand_weather{
    position: fixed;
    right:80px;
    top:-520px;
    width:500px;
    height:500px;
    z-index: 1;
    color:white;
    font-size: 14px;
}
.expand_weather_head{
    position: relative;
    margin-top:200px;
    height:45px;
    width:500px;
    background-color: #000000;
    
    line-height: 45px;
}
.expand_weather_head span{
    margin-left: 20px;
}
.expand_weather_head a{
    position: absolute;
    right:20px;  
    color:white;
    text-decoration: none;
}
#input{
    background-color: #e9e6e6;
    height:30px;
    width:80px;
    margin-left:30px;
}
#change:hover{
    cursor: pointer;
}

.weather{
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.weather ul{
    margin:0 ;
    padding: 0 0 12px 0;
    text-align: center;
}
.weather ul li{
    display:inline-block;
    list-style: none;
    width:24%;
}
.weather p{
    margin-top:12px;
}
.weather img{
    width:40px;
    height:auto;
}


video{  
    position: absolute;
    height: auto;  
    width:auto;  
    min-width: 100%;
    min-height:100%;
    
    z-index:-11;
}  

@media screen and (max-width: 1920px) {
    video{max-width: 1920px;}
}
@media screen and (max-width: 1680px) {
    video{max-width: 1680px;}
}
@media screen and (max-width: 1440px) {
    video{max-width: 1440px;}
}
@media screen and (max-width: 1366px) {
    video{max-width: 1366px;}
}


.top_qrcode{
    width:240px;
    height:260px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    right:50px;
    top:70px;
    display:none;
}

.top_qrcode img{
    position: absolute;
    left:15%;
    top:11%;
    width:70%;
    
}
.top_qrcode:before{
    border:solid transparent;
    border-bottom-color:rgba(0,0,0,0.5);
    border-width:10px;
    width:0;
    content:" ";
    position:absolute;
    bottom:100%;
    left:10%;  
    
}
.top_qrcode p{
    text-align: center;
    color:white;
    font-size: 25px;
    position: absolute;
    bottom: 5px;
    width:70%;
    left:15%;
}


.one_top{
    width:100%;
    height:75px;
}
.logo{
    position: absolute;
    width:180px;
    height:75px;
}
.logo img{
    position: absolute;
    width:auto;
    height:38px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.morebutton{
    width:100px;
    height:75px;
    position: relative;
    float:right;
    margin-right: 2%;
    opacity: 0.5;
    z-index: 2;
}
.morebutton img{
    position: absolute;
    width:auto;
    height:38px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}

.menu{
    width:190px;
    height:75px;  
    float:right;
    
}
.menu ul li{
    display:block;
    float:right;
    margin-right: 18px;
}
.menu ul li img{
    width:30px;
    height:30px;
    position: relative;
    top:22.5px;
    opacity: 0.5;
    z-index: 2;
}
.menu ul li:first-child img{
    opacity: 1;
}
.menu ul li img:hover{
    opacity: 1;
}

.one_content{
    width:100%;
    height:200px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.content{
    height:auto;
    width:30%;
    margin-left: 35%;
    margin-right: 35%;
}
.content img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;	
    margin:15px 0;
}
#download{
    width:30%;
    margin-left: 35%;
    margin-right: 35%;
}

#d_button img{
    width: auto;
    height: auto;
    max-width: 100%;	
}
.next{
    height:38px;
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    
}
.next img{
    height:100%;
    opacity: 0.5;
}
.next img:hover{
    opacity: 1;
}


.more{
    width:140px;
    height:100%;
    position: absolute;
    right:-140px;
    top:0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    color: #eeeeee;
}
.more ul{
    margin-top:100px;
    list-style: none;
}
.more ul li{
    width:100px;
    height:40px;
    line-height: 40px;
    border-bottom: 1px #000000 solid;
    margin-left:-18px;
}
.more ul li a{
    margin-left:15px;
    opacity: 0.8;
    color:white;
    text-decoration: none;
}
.more ul li a:hover{
    opacity: 1;
    cursor: pointer;
}
.more div{
    line-height: 10px;
    text-align: center;
    font-size: 10px;
}
.more img{
    width:80px;
    height:auto;
    margin: 20px 0 20px 0;
}
.more div p{
    opacity: 0.5;
    margin-bottom: 5px;
}

#page2{
    background: url("http://www.moji.com/templets/mojichina/img/index/info_bg.jpg");
    background-size:cover;
    position: relative;
}
.title{
    position: absolute;
    left:40%;
    top:35px;
    width:20%;
    text-align: center;
    color:#eeeeee;
}
.title img{
    width:75%;
    margin-bottom: 20px;
}
.title a{
    opacity: 0.5;
    color:white;
    text-decoration: none;
}
.title a:hover{
    opacity: 1;
}

#page2{
    position: relative;
}
.info{
    position: absolute;
    width:18%;
    height:60%;
    top:160px;
    left:-30%;
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255,0.5)
}
.info a{
    color: #eeeeee;
    text-decoration: none;
    font-size: 18px;
}
.info img{
    margin-bottom: 20px;
    width:95%;
}
.info p{
    margin-top:2px ;
}

#page3{
    position: relative;
    text-align: center;
}
.page3_title{
    position: absolute;
    top:0;
    width:100%;
    height:120px;
    text-align: center;
    
}
.page3_title p{
    font-size: 33px;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 20px;
    
}
.page3_title a{
    color: rgba(0,0,0);
    text-decoration: none;
    opacity: 0.5;
    
}
.page3_title a:hover{
    opacity: 1;
}
.page3_download{
    position: relative;
    height:40%;
    width:90%;
    text-align: center;
}
.download_list{
    height:100px;
    padding-top:15px;
    margin-top:20px;
    display:none;
}
.download_list a{
    color:rgba(0,0,0,0.8);
    text-decoration: none;
}
.download_list a img{
    width:18%;
    margin-bottom:20px;
}

.foot_logo{
    position: relative;
    top:50px;
    left:5%;
    height:10%;
    width:90%;
    text-align: center;
    border-top:1px #dbdbdb solid;
}
.foot_logo img{
    position: relative;
    top:40px;
    width:13%;
}

.foot_info{
    position: relative;
    top:100px;
}
.foot_info a{
    border-right:1px #dbdbdb solid;
    padding:0 20px 0 20px;
    color: #222121;
}
.foot_info :last-child{
    border: none;
}

.foot_add{
    position: absolute;
    bottom: 5px;
    font-size: 8px;
    color:#eeeeee;
}